<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by James Henderson on 2018
  ~ Copyright (c) Hendercine Productions and James Henderson 2018.
  ~ All rights reserved.
  ~
  ~ Last modified 8/16/18 3:17 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hendercine.android.gifavorites">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.mainview.MainActivity"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".data.GifClient"/>
    </application>

</manifest>